@import "../../utils/variable";

.surf-page-container, .park-page {
  padding: 10px;

  .take-tour-text {
    text-align: center;
    color: $dark-gray-color;
    font-size: $small-font-size;

    span.tour-target {
      color: $app-header-bg-color;
      cursor: pointer;
    }
  }

  .feed-hint {
    margin-top: 30px;
  }

  .surf-filter > div {
    position: relative;
  }

  .surf-filter {
    position: fixed;
    left: -300px;
    bottom: 0;
    top: 87px;
    width: 300px;
    z-index: $mask-layer-index;

    &.show {
      left: 0;
    }

    .wrapper {
      position: absolute;
      left: 0;
      right: 0px;
      top: 0;
      bottom: 0;
      background: $app-header-bg-color;
      overflow: auto;
      -webkit-box-shadow: 1px 0 5px $transparent-gray;
      -moz-box-shadow: 1px 0 5px $transparent-gray;
      -ms-box-shadow: 1px 0 5px $transparent-gray;
      box-shadow: 1px 0 5px $transparent-gray;
    }



    #filterToggle {
      position: absolute;
      top: 80px;
      right: -35px;
      padding: 8px 10px;
      font-size: $large-font-size;
      background: $app-header-bg-color;
      border: none;
      -webkit-box-shadow: 1px -2px 5px $transparent-gray;
      -moz-box-shadow: 1px -2px 5px $transparent-gray;
      -ms-box-shadow: 1px -2px 5px $transparent-gray;
      box-shadow: 1px -2px 5px $transparent-gray;
    }

    .surf-filter-item:last-child {
      h4 {
        margin-bottom: 15px;
      }
      li {
        padding: 5px 10px;
        width: auto;
      }
    }
    .surf-filter-item {
      @extend .border-bottom;
      min-height: 76px;
      border-bottom-color: #5F9EA0;
      padding: 10px;

      h4 {
        margin: 0 0 25px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: $extra-small-font-size;
        color: $primary-font-color;
      }

      ul {

        text-align: center;

        li.content-type {
          font-size: $medium-font-size;
        }

        li {
          padding: 0;
          font-size: $extra-small-font-size;
          color: $primary-font-color;
          width: 75px;
          cursor: pointer;
          text-align: center;

          .image {
            font-size: $extra-large-font-size;
          }

          &:hover {
            color: $secondary-font-color;
          }
        }
        li.selected {
          color: $secondary-font-color;
        }
      }
    }
  }

  .refresh-status {
    height: 3px;
    padding: 0;
    position: fixed;
    left: 0;
    top: 86px;
    z-index: $medium-index;
  }

  .feeds-container {
    color: $dark-gray-color;

    .surf-refresh-button.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
    .surf-refresh-button {
      position: fixed;
      top: 95px;
      right: 10px;
      text-align: center;
      z-index: $medium-index;
      cursor: pointer;
      font-size: $large-font-size;
      color: $app-header-bg-color;
      border-radius: 2px;

      span {
        $large-font-size: 20px;
      }
    }

    .feed-header {
      padding-bottom: 5px;
      border-color: $dark-border-color;

      .header-item, ul li {
        margin-right: 15px;
      }

      .header-item li.tag {
        font-size: $extra-small-font-size;
      }

      .category-name {
        color: $app-header-bg-color;
        font-size: $extra-small-font-size;
        margin-top: 4px;
      }

      .feed-action {
        width: 30px;
      }

      .feed-actions i {
        cursor: pointer;
        color: $app-header-bg-color;
        &:hover {
          color: $secondary-font-color;
        }

      }

    }
    .header-item {
      i {
        font-size: $small-font-size;
      }

      li:before {
        content: ' ';
        display: inline-block;
        background: $dark-gray-color;
        width: 7px;
        height: 7px;
        margin-right: 10px;
        @extend .circle;

      }
    }

    /* feed styles */
    .all-feeds {
      div a {
        font-size: $medium-font-size;
        color: #545454;
        p {
          font-size: $small-font-size;
        }
      }


      .custom-spinner {
        @extend .h-v-center;
      }

      .park-feed {
          height: 22px;
          width: 22px;
          cursor: pointer;
          background: url(images/main/park-blue.png) no-repeat;
          background-size: 22px;
        &:hover {
          background: url(images/main/park.png) no-repeat;
        }
      }

      img {
        width: 100%;
        margin: 0;
        max-width: 200px;
        height: 100%;
        max-height: 200px;
      }
      p.surf-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        line-height: 20px;
        max-height: 100px;
      }
      div.title {
        font-weight: bold;
        font-size: $medium-font-size;
        padding-top: 15px;
        color: #545454;
      }

      .image-gallery {
        ul.gallery-list {
          margin-left: -10px;
          margin-right: -10px;
          padding: 10px 0;

          li.image-container {
            width: 200px;
            padding: 10px;
            vertical-align: top;
            position: relative;
          }
        }
        p.surf-description {
          margin: 0 0 5px 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
          line-height: 20px;
          max-height: 100px;
        }
      }

      .image-content {
        .container {
          padding: 10px 0;

          .img-container {
            width: 200px;
            padding: 10px 15px 10px 10px;
            position: relative;
          }
          p {
            margin: 5px;
          }
        }
      }
    }

    /* ended */


  }

  .pagination-spinner {
    text-align: center;
    padding: 10px;
    width: 200px;
    margin: 20px auto;
    background: $app-header-bg-color;
    color: $primary-font-color;
  }

  .mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: $mask-layer-index;

    .spinner {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 50px;
      margin: auto;
      text-align: center;
      color: $secondary-font-color;
    }
  }

  .source-type-filter {
    height: 32px;

    ul {
      position: fixed;
      left: 0px;
      right: 0px;
      top: 86px;
      background: $primary-font-color;
      z-index: $min-index;
      border-color: $dark-border-color;

      li {
        display: inline-block;
        vertical-align: top;
        padding: 1px 10px;
        margin: 10px 10px;
        color: $app-header-bg-color;
        font-size: $small-font-size;
        cursor: pointer;

        &:first-child {
          text-transform: uppercase;
        }

        &:first-child {
          margin-left: 18px;
        }

        &.selected {
          color: $secondary-font-color;
          background: $app-header-bg-color;
        }
      }
    }
  }
}