@media (max-width: 600px) {

  .max-width {
    max-width: 100%;
  }

  .extra-small-text {
    font-size: $small-font-size;
  }

  .small-text {
    font-size: $medium-font-size;
  }

  .medium-text {
    font-size: $large-font-size;
  }

  .extra-large-text {
    font-size: $max-font-size;
  }

  input[type='text'], input[type='password'], button {
    padding: 8px;
  }

  button {
    padding: 8px 16px;
  }

  .m-none {
    display: none;
  }

  .m-block {
    float: none;
    clear: both;
    display: block;
  }

  .m-input-block {
    display: block;
    width: 100%;
  }

  .m-t-center {
    text-align: center;
  }

  .login.app-header .form-container .login-form-container form .input-container > div {
    margin-right: 0px;
  }

  .app-header {
    .input-container {
      .password-container {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .description {
      text-align: justify;
    }
  }

  .main-page {
    header  .fixed-header .user-info {
      position: absolute;
      right: 15px;
    }

    section > div {
      padding: 15px;
    }

    section {
      .configure-page {
        .cat-list li {
          margin: 10px;
        }
      }

      .navigation-title {
        margin: 0px auto;
      }
    }

  }

  .tab-control > ul.tab-header > li.tab {
    margin-right: 3%;
  }

/* surf page */
  .surf-page {

    .all-feeds {
      .feed-header {

        .header-item, ul li {
          margin-right: 10px;
        }
      }

      .image-gallery ul.gallery-list li.image-container {
          width: 50%;
      }

      .image-content {
        .container {
          .img-container {
            width: 50%;
            margin: auto;
            padding: 0px;
          }
          p {
            width: auto;
            margin-top: 20px;
          }
        }
      }

    }

  }
}