@import "../../utils/variable";

@media (max-width: 700px) {
  .main-page {
    header {
      .fixed-header {
        .app-logo-container {
          img {
            width: 150px;
            margin-top: 14px;
          }
        }
        .user-info {
          a {
            width: 150px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {

  .max-width {
    max-width: 100%;
  }

  .extra-small-text {
    font-size: $small-font-size;
  }

  .small-text {
    font-size: $medium-font-size;
  }

  .medium-text {
    font-size: $large-font-size;
  }

  .extra-large-text {
    font-size: $max-font-size;
  }

  input[type='text'], input[type='password'], button {
    padding: 8px;
  }

  button {
    padding: 8px 16px;
  }

  .m-none {
    display: none;
  }

  .m-block {
    float: none;
    clear: both;
    display: block;
  }

  .m-input-block {
    display: block;
    width: 100%;
  }

  .m-t-center {
    text-align: center;
  }

  .login.app-header .form-container .login-form-container form .input-container > div {
    margin-right: 0;
  }

  .app-header {
    .input-container {
      .password-container {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .description {
      text-align: justify;
    }
  }

  .main-page {
    header {
      .fixed-header .user-info {
        position: absolute;
        right: 15px;
      }
      .app-logo-container {
        display: none;
      }
  }

    section > div {
      padding: 15px;
    }

    section {
      .configure-page {
        .cat-list li {
          margin: 10px;
        }
      }

      .navigation-title {
        margin: 0 auto;
      }
    }

  }

  .tab-control > ul.tab-header > li.tab {
    margin-right: 3%;
  }

/* surf page */
  .feeds-container {

    .all-feeds {
      .feed-header {

        .header-item, ul li {
          margin-right: 10px;
        }
      }

      .image-gallery ul.gallery-list li.image-container {
          width: 50%;

        img {
          width: 100%;
        }
      }

      .image-content {
        .container {
          .img-container {
            width: 50%;
            margin: auto;
            padding: 0;
          }
          p {
            width: auto;
            margin-top: 20px;
          }
        }
      }

    }

  }

  body .custom-toast {
    padding: 8px;
    width: 85%;
    font-size: $small-font-size;
    text-align: center;

    button {
      width: 80px;
      margin: 8px auto auto auto;
      padding: 5px;
      font-size: $small-font-size;
      float: none;
    }
  }

  .surf-page-container .surf-filter .show-filter-container .surf-filter-item {
    label {
      width: 25%;
      font-size: $extra-small-font-size;
      margin-top: 7px;
    }
    ul {
      width: 75%;

      li {
        margin: 8px;

        .image {
          font-size: $extra-large-font-size;
        }
      }
    }
  }

  .take-tour-mask {
    .take-tour {
      left: 0 !important;
      width: 80% !important;
      right: 0 !important;
      margin: auto !important;
    }
    .tour-top-arrow {
      right: auto !important;
    }
  }
}

@media (max-width: 400px) {
  .main-page header .fixed-header {
    .user-info a {
      width: auto;
      margin: 18px 0px 18px 0px;
      span {
        font-size: $extra-small-font-size;
      }

    }
    ul li {
      padding: 0px;
      width: 20%;

      a {
        font-size: $extra-small-font-size;

        .header-link-image {
          width: 25px;
          height: 25px;
          background-size: 25px !important;
        }
      }
    }
  }
  .surf-page-container .refresh-status {
    top: 82px;
  }
}
