@import "../../utils/variable";

@media (max-width: 700px) {
  .main-page {
    header {
      .fixed-header {
        .app-logo-container {
          img {
            width: 150px;
            margin-top: 14px;
          }
        }
        .user-info {
          a {
            width: 150px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {

  .max-width {
    max-width: 100%;
  }

  input[type='text'], input[type='password'], button {
    padding: 8px;
  }

  button {
    padding: 8px 16px;
    &:hover {
      color: $primary-font-color;
    }
  }

  .m-none {
    display: none;
  }

  .m-block {
    float: none;
    clear: both;
    display: block;
  }

  .m-input-block {
    display: block;
    width: 100%;
  }

  .m-t-center {
    text-align: center;
  }

  .login.app-header .form-container .login-form-container form .input-container > div {
    margin-right: 0;
  }

  .app-header {
    .input-container {
      .password-container {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .description {
      text-align: justify;
    }
  }


  .main-page header {
    height: 53px;

    .fixed-header {
      padding: 3px 2px 2px 2px;

      .user-info {
        position: absolute;
        right: 15px;

        a.link {
          width: auto;
          margin: 11px 0px 0px 0px;
          span {
            font-size: $extra-small-font-size;
          }

        }
      }

      .app-logo-container {
        display: none;
      }


      ul.menu-list {
        li {
          padding: 0;
          width: 55px;

          a {
            font-size: $extra-small-font-size;

            div.header-link-image {
              width: 25px;
              height: 25px;
              background-size: 25px !important;
            }

            .counter {
              right: -8px;
            }
          }
        }
      }
    }
  }

  .navigation-header .navigation-title {
    margin: auto;
  }

  .main-page section > div {
    padding: 15px;
  }

  .main-page section {
    .refresh-status {
      top: 53px;
    }

    .surf-page-container, .park-page {

      .surf-filter {
        top: 53px;
        width: 270px;
        left: -270px;

        &.show {
          left: 0;
        }

        .surf-filter-item {
          ul li {
            &:hover {
              color: $primary-font-color;
            }
            &.selected {
              color: $secondary-font-color;
            }
          }

        }
      }

      .surf-refresh-button {
        top: 56px;
      }

      .source-type-filter {
        height: 15px;

        ul {
          top: 53px;
          padding-top: 6px;
          padding-bottom: 4px;

          li {
            width: 70px;
            margin: 3px 4px 3px 4px;
            padding: 0;
            text-align: center;
            font-size: $extra-small-font-size;

            &:first-child {
              margin-left: 10px;
            }
          }
        }
      }

      .all-feeds {
        .feed-header {

          .header-item, ul li {
            margin-right: 10px;

          }
        }

        p.surf-description {
          font-size: $extra-small-font-size;
        }
        .title {
          font-size: $small-font-size;
        }

        .image-gallery ul.gallery-list li.image-container {
          width: 50%;

          img {
            width: 100%;
          }
        }

        .image-content {
          .container {
            .img-container {
              width: 50%;
              margin: auto;
              padding: 0;
            }
            p {
              width: auto;
              margin-top: 20px;
            }
          }
        }

        .park-feed:hover {
          background-image: url(images/main/park-blue.png);
        }
      }
    }
  }

  .custom-toast {
    padding: 8px;
    width: 85%;
    font-size: $small-font-size;
    text-align: center;

    button {
      width: 80px;
      margin: 8px auto auto auto;
      padding: 5px;
      font-size: $small-font-size;
      float: none;
    }
  }

  #scrollToTop:hover {
    color: $primary-font-color;
  }

  .park-page.feeds-container .feed-header .feed-actions i:hover {
    color: $app-header-bg-color;
  }

  .take-tour-mask {
    .take-tour {
      left: 0;
      width: 80%;
      right: 0;
      margin: auto;
    }
    .tour-top-arrow {
      right: auto;
    }
  }
}

@media (max-width: 400px) {
  .hide-mobile-xs {
    display: none;
  }

  .surf-page-container {
    .surf-filter #filterToggle {
        top: 200px;
    }
  }
}
