# -------------------------------------------------------------------------------
# Server details
# -------------------------------------------------------------------------------
serverIp=127.0.0.1
port=5000
# -------------------------------------------------------------------------------
# CouchDB details
# -------------------------------------------------------------------------------
userName=admin
password=admin
db=common

# -------------------------------------------------------------------------------
# Configuring Facebook
# To generate facebook app secretKey and Id please follow instructions
# https://developers.facebook.com/docs/apps/register
# In step 4(Choose platform) select website as platform
# -------------------------------------------------------------------------------

fb_appSecretKey=
fb_appId=

# -------------------------------------------------------------------------------
# Configuring Twitter
# To generate twitter app consumerKey and consumerSecret please follow instructions
# https://dev.twitter.com/oauth/overview/application-owner-access-tokens
# -------------------------------------------------------------------------------

tw_consumerKey=
tw_consumerSecret=
