# -------------------------------------------------------------------------------
CouchDB details
# -------------------------------------------------------------------------------
couchDbUrl=http://localhost:5984
searchEngineUrl=http://localhost:5986/_fti/local
userName=admin
password=admin
db=common

# -------------------------------------------------------------------------------
# Configuring Facebook
# To generate facebook app secretKey and Id please follow instructions
# https://developers.facebook.com/docs/apps/register
# In step 4(Choose platform) select website as platform
# -------------------------------------------------------------------------------

fb_appSecretKey=37jsj29sajhhgslbnsu10sajkhfoskj5
fb_appId=648274661949018

# -------------------------------------------------------------------------------
# Configuring Twitter
# To generate twitter app consumerKey and consumerSecret please follow instructions
# https://dev.twitter.com/oauth/overview/application-owner-access-tokens
# -------------------------------------------------------------------------------

tw_consumerKey=iJKWWLJGNW328klsjLJMUli89
tw_consumerSecret=KSEM189INkma83jMLi389snhMUELLLKA839skhNKk3lkKskskIk



