.news-board-container, .story-board-container {
  display: flex;

  .source-type-bar {
    box-sizing: border-box;
    flex-basis: 54px;
    background-color: $dark-background-color;

    .news-board-tab {
      padding: 10px;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      margin: 10px 5px;
      cursor: pointer;

      &.active {
        background-color: #fff;
        border-radius: 100%;

        .icon {
          color: $secondary-color;
        }
      }

      .icon {
        font-size: 1.5em;
        color: $primary-color-light;
      }
    }

    .source-filter.news-board-tab {
      background: #e0ced7;
      width: 100%;
      margin: 0;
      height: $secondary-header-nav-height;
      box-sizing: border-box;
      padding: 15px;

      &.hidden {
        visibility: hidden;
      }
    }
  }
  .news-feeds-container {
    background-color: $background-color;
    flex-basis: $side-panel-width;
    border-right: 2px solid lighten($primary-color, 35%);

    &.expand {
      flex-basis: 2 * $side-panel-width;

      .feed {
        flex-basis: 50%;

        &:nth-child(odd) {
          border-right: 1px solid lighten($primary-color, 35%);
        }
      }

      .expand-icon {
        left: 46 + (2 * $side-panel-width);
      }

      @media (max-width: 1100px) {
        flex-basis: $side-panel-width;

        .feed {
          flex-basis: 100%;

          &:nth-child(odd) {
            border-right: 1px solid transparent;
          }
        }

        .expand-icon {
          left: 46 + $side-panel-width;
        }
      }
    }

    .expand-icon {
      cursor: pointer;
      width: 19px;
      height: 50px;
      display: inline-block;
      position: fixed;
      top: 45vh;
      left: 46 + $side-panel-width;
      background: url("./images/expand-icon.png") no-repeat;
      background-size: contain;

      @media (max-width: 1100px) {
        display: none;
      }
    }

    .refresh-container {
      background: $dark-background-color;
      height: $secondary-header-nav-height;
      box-sizing: border-box;
      padding: 10px;
    }

    .feeds {
      display: flex;
      flex-wrap: wrap;
      height: calc(100vh - #{$main-header-height} - #{$secondary-header-nav-height});
      overflow-y: auto;
    }

    .feed {
      min-height: 105px;
      cursor: pointer;
      line-height: 24px;
      padding: 8px 13px 13px 16px;
      clear: both;
      float: none;
      box-sizing: border-box;
      flex-basis: 100%;

      &__description {
        word-break: break-all;
        overflow: hidden;
        font-family: "Lato", sans-serif;
        font-size: 12px;
        color: $primary-color-light;
        line-height: 18px;
        max-height: 54px;
      }

      &__title {
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-family: "Lato", sans-serif;
        font-size: $mid-font-size;
        color: $primary-color;
        line-height: 24px;
      }

      &__media img {
        width: 100%;
        height: 100%;
        max-width: 230px;
        max-height: 100px;
      }

      &__media {
        float: right;
        width: 110px;
      }

      &__source div {
        display: inline-block;
        font-family: "Lato", sans-serif;
        font-size: 13px;
        color: #917A99;
        letter-spacing: 0;
        padding: 2px 5px;
      }

      &--highlight {
        background-color: #FFFFFF;

        .feed__title {
          color: $secondary-color;
        }
      }
    }

    .configured-sources {
      width: 100%;
      padding: 0;
      margin: 0;
    }

  }

  .article {
    flex-grow: 1;
    flex-basis: 0;
  }
}
