.configured-feeds-container {
  background-color: $background-color;
  width: 30%;
  height: 100vh;
  margin-left: 3%;
  overflow-y: scroll;
  display: inline-block;

  .feed, .feed-highlight {
    min-height: 105px;
    .feed-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: $primary-color-light;
      line-height: 18px;
    }
  }

  .feed {
    cursor: pointer;
    line-height: 24px;
    padding: 8px 13px 13px 16px;
  }

  .feed-highlight {
    line-height: 24px;
    background-color: #FFFFFF;
    padding: 8px 13px 13px 16px;
    .feed-title {
      overflow: hidden;
      display: -webkit-box;
      color: $secondary-color;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  .feed-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: $primary-color;
    line-height: 24px;
  }

  .feed-media i{
    max-width: 230px;
    max-height: 100px;
    font-size: 880%;
    font-weight: 500;
  }

  .feed-media img {
    width: 100%;
    height: 100%;
    max-width: 230px;
    max-height: 100px;
    padding-top: 6%;
  }

  .feed-content-withEnclosure {
    width: 70%;
    display: inline-block;
  }
  .feed-content-withOutEnclosure {
    width: 100%;
    display: inline-block;
  }
  .feed-media {
    float: right;
    width: 30%;
  }

  .feed-source div {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: #917A99;
    letter-spacing: 0;
    padding: 2px 5px;
  }

}











































