.news-board-container {
  width: 100%;
  height: 100%;
  .source-type-bar {
    background-color: $dark-background-color;
    width: 3%;
    height: 100vh;
    float: left;

  }
  .configured-feeds-container {
    background-color: $background-color;
    width: 25%;
    height: 100vh;
    margin-left: 3%;
    overflow-y: scroll;
  }
}