.change-password {
  text-align: center;
  margin-top: 2rem;

  form {
    width: 20rem;
    display: inline-block;
  }

  h3 {
    color: $primary-color-dark;
  }

  input {
    display: block;
    padding: 10px;
    font-size: 1.05rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 0 1rem;
    background: #E9E3E7;
    color: #917fa9;

    &.error-border {
      border: 1px solid $secondary-color;
    }
  }
}