.collections {
  flex: 1;
}
.display-collection {
  flex: 1;
  height: calc(100vh - #{$main-header-height});
  overflow: auto;

  .collection-feeds {
    display: flex;
    flex-wrap: wrap;

    .collection-feed {
      flex-basis: 50%;
      cursor: pointer;
      line-height: 24px;
      padding: 8px 13px 13px 16px;
      box-sizing: border-box;
      background-color: $background-color;
      border-bottom: 1px solid $dark-background-color;

      &:nth-child(odd) {
        border-right: 1px solid $dark-background-color;
      }

      &__title {
        padding:9px;
        font-size: $mid-font-size;
        color: $secondary-color;
      }

      &__source {
        padding:9px;
        color: $primary-color-light;

        div {
          display: inline-block;
        }
        .source, .source-type {
          padding-right: 10px;
        }
      }

      &__description {
        padding:9px;
        color: $primary-color;
        font-size: $medium-font-size;
      }
      &__readmore {
        float: right;
        color: $secondary-color;
        border: 0;
      }
      &:hover{
        background-color: #ffffff;
      }
    }
  }

  .collection-header {
    padding: 14px 10px;
    background: $dark-background-color;
    height: 31px;
  }
}