.help-FAQs {
  margin: 2rem 15%;

  h3 {
    color: $secondary-color;
  }

  .help {
    text-align: center;

    h3 {
      text-align: left;
    }

    .video {
      width: 600px;
      display: inline-block;
      margin-bottom: 3rem;
      background-color: $dark-background-color;

      .icon{
        margin: 25% 45%;
        font-size: 50px;
        color: #FFFFFF;
      }
    }
  }

  .answer {
    margin-left: 20px;
  }

  .question {
    color: $secondary-color;
  }
}