.main-page section .help-container {
  margin: auto 7%;
  padding: 15px 0;
}

.help-box {
  display: inline-block;
  width: 50%;
  position: relative;
  padding-bottom: 55%;
  height: 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    padding: 10px;
    box-sizing: border-box;
  }

  .help-text {
    margin-top: 70%;
  }
}