.help-FAQs {
  margin: 2rem 15%;

  h3 {
    color: $secondary-color;
  }

  .help {
    text-align: center;

    h3 {
      text-align: left;
    }

    .video {
      width: 641px;
      height: 360px;
      display: inline-block;
      margin-bottom: 3rem;

      .video-play {
        height: 100%;
        width: 100%;
      }
    }
  }

  .answer {
    margin-left: 20px;
  }

  .question {
    color: $secondary-color;
  }
}