@import "../utils/_variable";

.login-bg {
  background: url("images/newspaper.jpg");
}

.login.app-header {
  position: relative;
  background: $app-header-bg-color;
  color: $primary-font-color;
  padding: 30px;
  margin-bottom: 2px;
  @extend .bottom-box-shadow;

  .app-logo {
    margin-bottom: 15px;
  }

  form {
    .input-container > div {
      margin-right: 10px;
    }

    p.error {
      margin-top: -10px;
    }

    p {
      margin: 8px 0px;
      min-height: 17px;
    }
  }
}

.login.app-section {
    padding: 3% 0px;

    .static-block {
      width: 240px;
      margin: 20px 50px 20px 50px;
      color: $body-font-color;

      .image-block {
        width: 50px;
        height: 50px;
        padding: 40px;
        margin: auto;
        z-index: 1;
        position: relative;

        img {
          width: 50px;
        }
      }

      .content-block {
        background: rgba(245,245,245, 0.85);
        padding: 55px 20px 1px 20px;
        margin-top: -60px;
      }
    }
}
