@import "../utils/_variable";

.login.app-header {
  background: $app-bg-color;
  color: $primary-font-color;
  padding: 30px;
  @extend .bottom-box-shadow;

  .app-logo {
    color: $secondary-font-color;
    @extend .extra-large-font;
    margin-bottom: 30px;
  }

  form {
    .input-container > div {
      margin-right: 10px;
    }

    p {
      margin: 6px 0px;
    }
  }
}

.login.app-section {
  img {
    width: 100%;
  }
}
