.login-page {
  .container {
    padding: 1rem 6rem;
  }
  .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $background-color;
  }

  .branding {
    .logo {
      background-color: $primary-color-dark;
      padding: 5px 10px 10px;
      width: 13rem;
    }

    .makenews-desc {
      color: $primary-color-light;
      margin: 2rem 0;
    }

    .watch-demo {
      display: block;
      margin: 2rem 0;
    }
  }

  .login-box {
    margin-left: 10px;
  }
}

.login {
  text-align: center;
  .input-container {
    width: 20rem;
    text-align: center;

    input {
      display: block;
      padding: 10px;
      font-size: 1.05rem;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 1rem;
      background: $dark-background-color;
      color: $primary-color-light;
    }
  }
}