@import "../utils/_variable";

.user-profile {
  padding: 20px;
  color: $dark-gray-color;

  form {
    display: block;
    padding: 10px;
    max-width: 500px;
    margin: auto;
  }

  .row {
    margin: 10px;

    input {
      padding: 10px;
      width: 100%;
    }

    button {
      margin: auto;
      display: block;
    }
  }

  .error-border {
    border-color: $error-border-color;
  }
}