.configure-container {
  $configured-source-panel-width: 360px;
  $configured-source-panel-width-tab: 330px;

  .configured-sources {
    &-container {
      background-color: $background-color;
      border-right: 1px solid $primary-color-light;
      box-sizing: border-box;
      padding-bottom: 10px;
      width: $configured-source-panel-width;
      height: calc(100vh - #{$main-header-height});
      position: fixed;
      display: flex;
      flex-direction: column;

      @media (max-width: $tablet-max-width) {
        width: $configured-source-panel-width-tab;
      }

      .heading {
        background: $dark-background-color;
        padding: 15px;
        margin: 0;
        color: $primary-color;
        height: 54px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      .input-box {
        flex-basis: 40px;
      }

      li.source-name {
        list-style: none;
        font-size: 14px;
        font-weight: 100;
        padding: 7px 0;
        color: $primary-color-light;
        float: none;
        clear: both;

        .spinner {
          padding: 0;
          border: none;
          float: right;
          margin-top: 5px;

          &:before {
            width: 10px;
            height: 10px;
            border-width: 2px;
          }
        }

        .delete-source {
          font-size: 1.3em;
          font-weight: 400;
          font-style: normal;
          float: right;
          cursor: pointer;
          padding: 0;
          border: none;
          color: $primary-color-light;
        }
      }
    }
  }

  .configure-sources {
    margin-left: $configured-source-panel-width;

    @media (max-width: $tablet-max-width) {
      margin-left: $configured-source-panel-width-tab;
    }

    @media (max-width: $mobile-max-width) {
      margin-left: 0;
    }

    .configuration-warning {
      background: $primary-color-dark;
      color: white;
      padding: 12px;

      .warning-icon {
        width: 1.7rem;
        height: 1.7rem;
        padding: 0;
        font-size: 1.3rem;
        margin-right: 10px;
      }

      .close {
        float: right;
        font-size: 1.6rem;
        cursor: pointer;
        padding: 0 10px;
      }
    }

    .input-box.configure-source {
      border-bottom-width: 2px;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 2rem;

      &:before,
      &:after {
        width: 2px;
      }
    }
  }

  .sources-suggestions {
    background-color: $background-color;
    padding: 20px;
    margin-top: 40px;

    .fb-sources-tab {
      display: inline-block;
      &__item {
        font-weight: 700;
        color: $primary-color;
        padding: 10px 20px;
        opacity: .5;
        cursor: pointer;


        @media (max-width: $tablet-max-width) {
          padding: 10px 5px;
        }

        &.active,
        &:hover {
          opacity: 1;
        }
      }
    }

    .configure-actions {
      float: right;
      display: flex;

      button {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        color: $primary-color;
        padding: 0;
        display: inline-flex;
        align-items: center;
        margin-right: 1rem;
        margin-bottom: 1rem;

        @media (max-width: $tablet-max-width) {
          margin-right: .5rem;
        }
      }

      .icon {
        padding-right: 5px;
        font-size: 1.4rem;
      }

      .add-custom-url {
        .icon {
          font-size: 1.2rem;
        }
      }
    }
  }

  .source-results {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    padding-top: 1rem;

    .source {
      background: $dark-background-color;
      padding: 10px;
      margin: 4px;
      width: 31.433333%;
      display: flex;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      align-items: center;

      @media (min-width: 1400px) {
        width: 24%;
        margin: 4px;
      }

      @media (max-width: 1024px) {
        width: 48.5%;
        margin: 3px;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin: 3px;
      }

      &.added {
        background-color: $primary-color;

        .source__title {
          color: #fff;
        }

        .source__url {
          color: #fff;
        }
      }

      &__icon {
        img {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          width: 40px;
          height: 40px;
        }
      }

      &__details {
        flex-grow: 2;
        padding: 0 10px;
      }

      &__title {
        color: $primary-color;
        word-wrap: break-word;
        word-break: break-word;
      }

      &__url {
        color: $primary-color;
        opacity: .54;
        font-size: 12px;
        display: inline-table;
        word-wrap: break-word;
        word-break: break-all;
      }

      &__action-icon {
        img {
          width: 30px;
          cursor: pointer;
        }
      }
    }
  }
}