@import "../../utils/variable";

.configure-page {
  h3 {
    color: $medium-gray-color;
    margin: 0px;
    padding: 0px 0px 15px 0px;
  }

  ul.cat-list {
    max-width: 1000px;
    margin: auto;

    li {
      margin: 0px 20px 20px 0px;
      background: $app-header-bg-color;
      color: $primary-font-color;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;

      a {
        display: block;
        padding: 8px;
        width: 150px;
        height: 150px;
      }
    }

    li.category:hover span {
      color: $secondary-font-color;
    }

    li.add-new {
      @extend .border-blue;
      background: $primary-font-color;

      a {
        color: $app-header-bg-color;
      }
    }

  }
}
