@import "../../utils/variable";

.configure-page {
  h4 {
    color: $medium-gray-color;
    margin: 0px;
    padding: 15px 0px 0px 0px;
  }

  ul.cat-list {
    padding: 20px;
    max-width: 1000px;
    margin: auto;

    li {
      width: 150px;
      height: 150px;
      padding: 8px;
      margin: 0px 20px 20px 0px;
      background: $app-header-bg-color;
      color: $primary-font-color;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }

    li.category:hover {
      color: $secondary-font-color;
    }

    li.add-new {
      @extend .border-blue;
      color: $app-header-bg-color;
      background: $primary-font-color;
    }

  }

}