.configure-container {
  .configured-sources {
    &-container {
      float: left;
      width: 20%;
      background-color: $background-color;
      min-height: 100vh;
      border-right: 1px solid $primary-color;
      box-sizing: border-box;
    }

    &__group {
      padding: 10px;

      &.open {
        background-color: #fff;
      }
      &__heading {
        font-size: 1em;
        color: $primary-color;
      }
    }

    li {
      font-size: 14px;
      font-weight: 400;
      padding: 5px 0;
    }
  }

  .configure-sources {
    display: inline-block;
    width: 80%;
  }

  input.search-sources {
    color: $primary-color;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }


  .sources-suggestions {
    background-color: $background-color;
    padding: 20px;
    margin-top: 50px;
  }

  .source-results {
    .source {
      background: $dark-background-color;
      padding: 10px;
      margin: 10px;
      width: 31.433333%;
      height: 70px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &.active {
        background-color: $primary-color;

        .source-title {
          color: #FFF;
        }
      }

      &__icon {
        float: left;
        position: relative;
        top: 50%;
        margin-right: 10px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          width: 40px;
        }
      }

      &__title {
        color: $primary-color;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      &__add-icon {
        float: right;
        position: relative;
        top: 10%;
        cursor: pointer;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
          width: 30px;
        }
      }
    }
  }
}