.configure-container {
  .configured-sources {
    &-container {
      float: left;
      position: fixed;
      overflow: auto;
      width: 20%;
      background-color: $background-color;
      height: 100vh;
      border-right: 1px solid $primary-color;
      box-sizing: border-box;
      padding-bottom: 80px;
    }

    &__group {
      padding: 10px;

      &.open {
        background-color: #fff;
      }
      &__heading {
        font-size: 1em;
        color: $primary-color;
      }
    }

    li {
      font-size: 14px;
      font-weight: 100;
      padding: 7px 0;
      color: $primary-color-light;
    }
  }

  .configure-sources {
    display: inline-block;
    width: 80%;
    margin-left: 20%;
    margin-top: 30px;
  }

  .input-group {
    $border-size: 2px;

    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: $border-size solid $primary-color;
    display: table;
    position: relative;
    border-collapse: separate;
    padding: 0 10px 0 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:before,
    &:after {
      content: '';
      display: inline-table;
      box-sizing: border-box;
      width: 1px;
      height: 10px;
      border-right: $border-size solid $primary-color;
      bottom: -2px;
      margin-left: -8px;
      position: absolute;
    }

    &:after {
      margin-left: 10px;
    }

    &__addon {
      display: table-cell;
      vertical-align: middle;
      width: 1%;
      position: relative;
      white-space: nowrap;
      font-size: 0;
      box-sizing: border-box;

      img {
        position: relative;
        width: 20px;
      }
    }

    input.search-sources {
      display: table-cell;
      position: relative;
      float: left;
      width: 100%;
      border: 0;
      color: $primary-color;
      box-sizing: border-box;
      line-height: 24px;
      font-weight: 700;

      &::-webkit-input-placeholder {
        color: $primary-color-light;
      }

      &:-moz-placeholder,
      &::-moz-placeholder {
        color: $primary-color;
        opacity: 1;
      }
    }
  }

  .sources-suggestions {
    background-color: $background-color;
    padding: 20px;
    margin-top: 50px;

    .fb-sources-tab {
      display: inline-block;
      &__item {
        font-weight: 700;
        color: $primary-color;
        padding: 10px 20px;
        opacity: .5;
        cursor: pointer;

        &.active,
        &:hover {
          opacity: 1;
        }
      }
    }

    .add-all {
      float: right;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 15px;
      color: $primary-color;
      padding-top: 0;

      img {
        width: 30px;
        vertical-align: middle;
        padding-right: 5px;
      }
    }
  }

  .source-results {
    clear: both;

    .source {
      background: $dark-background-color;
      padding: 10px;
      margin: 10px;
      width: 31.433333%;
      height: 70px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &.added {
        background-color: $primary-color;

        .source__title {
          color: #fff;
        }
      }

      &__icon {
        position: relative;
        top: 50%;
        margin-right: 10px;
        display: inline-table;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          width: 40px;
          height: 40px;
        }
      }

      &__title {
        color: $primary-color;
        position: relative;
        top: 50%;
        width: 70%;
        display: inline-table;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      &__action-icon {
        float: right;
        position: relative;
        top: 50%;
        cursor: pointer;
        display: inline-table;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
          width: 30px;
        }
      }
    }
  }
}