@import "../../utils/variable";

.main {
  position: absolute;
  margin-top: $main-header-height;
}

.main-page header {
  display: none;
  color: $primary-font-color;
  height: 60px;
  position: relative;

  .fixed-header {
    @extend .bottom-box-shadow;
    background: $app-header-bg-color;
    padding: 6px 7.5%;
    z-index: $medium-index;

    .app-logo {
      margin-top: 8px;
    }

    .flexible {
      overflow: hidden;
    }

    .menu-list li {
      position: relative;
      display: inline-block;
      padding: 0 10px;
      width: 70px;
      a {
        i {
          position: absolute;
          right: 10px;
          top: 0;
          background: $counter-bg-color;
          line-height: 25px;
          width: 25px;
          height: 25px;
          font-size: $extra-small-font-size;
          font-style: normal;
          color: $secondary-font-color;
        }
        .header-link-image {
          $image-size: 26px;
          width: $image-size;
          height: $image-size;
          margin: auto auto 2px;
          background-size: ($image-size - 1px) !important;
        }
        .header-link-image.configure {
          background: url('images/main/configure-white.png') no-repeat center;
        }
        .header-link-image.surf {
          background: url('images/main/surf-white.png') no-repeat center;
        }
        .header-link-image.park {
          background: url('images/main/park-white.png') no-repeat center;
        }

        &.selected {
          .header-link-image.configure {
            background: url('images/main/configure.png') no-repeat center;
          }
          .header-link-image.surf {
            background: url('images/main/surf.png') no-repeat center;
          }
          .header-link-image.park {
            background: url('images/main/park.png') no-repeat center;
          }
        }
      }

      * {
        display: block;
      }
    }
  }
}

.user-settings {
  position: relative;
  margin-top: 17px;

  .user-info-label {
    margin: 0;
    padding-right: 15px;
    cursor: pointer;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
      border: 6px solid transparent;
      border-top-color: $primary-font-color;
    }
  }

  .drop-down-wrapper {
    position: absolute;
    top: 39px;
    right: -2px;
    width: 170px;
    background: $app-header-bg-color;
    max-height: 100px;
    &.hide {
      max-height: 0;
      overflow: hidden;
    }

    ul li {
      display: block;
      padding: 3px 3px 3px 10px;
      margin: 0;
      width: auto;
      cursor: pointer;

      a {
        display: block;
      }

      &:hover, a:hover {
        color: $secondary-font-color;
      }

      .fa {
        padding-right: 5px;
      }
    }
  }

  .user-icon {
    text-transform: uppercase;
    border: 2px solid $secondary-font-color;
    height: 20px;
    width: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    font-weight: bolder;
    color: $secondary-font-color;
    margin-right: 6px;
    font-size: $small-font-size;
  }
}

.main-page section {
  background: $primary-font-color;
}

.category-page, .configure-page {
  padding-top: 10px;
}
