@import "../../utils/variable";

.main-page header {
  color: $primary-font-color;
  height: 87px;
  position: relative;

    .fixed-header {
      @extend .bottom-box-shadow;
      background: $app-header-bg-color;
      overflow: hidden;
      padding: 12px;
      z-index: 1;

      .app-logo {
        margin-top: 3px;
        color: $secondary-font-color;
        @extend .max-text;
      }

      .user-info {
        width: 80px;
        margin: 20px 0px 0px 0px;
        text-align: right;
      }

      .flexible {
        overflow: hidden;
      }

      ul li {
        display: inline-block;
        padding: 0px 10px;
        width: 70px;
      }

      .menu-list li {
        img {
          width: 35px;
          height: 35px;
          margin: auto;
          margin-bottom: 5px;
        }
        * {
          display: block;
        }
      }
    }
}

.main-page section {
  background: $primary-font-color;
  height: 1000px;
}

.main-page section > div {
  padding: 20px;
}
