.add-url {
  margin: 5rem auto 0;


  &__message {
    background-color: $primary-color-dark;
    width: 100%;

    img {
      padding: 13px;
      width: 30px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .text {
      width: 70%;
      color: white;
      font-size: $small-font-size;
    }

    .close {
      float: right;
      color: white;
      font-size: 1.4rem;
      margin-right: 20px;
      margin-top: 1rem;
      padding: 0;
    }
  }

  .input-box {
    background-color: $primary-color;
    margin: 0;
    padding: 2rem 3rem;
    border: 0;

    .input-container {
      border-bottom: 2px solid $primary-color-light;

      input {
        color: white;

        &::placeholder,
        &::-webkit-input-placeholder {
          color: #bbb;
        }

        &::-moz-placeholder {
          color: #bbb;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    width: 550px;
  }
}