@import "../utils/variable";

.confirm-mask {
  background: $transparent-gray;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: $mask-layer-index;
}
.confirm-popup {
  background: $primary-font-color;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 15%;
  margin: auto;
  z-index: $popup-layer-index;

  .container {
    padding: 20px;

    .description {
      color: $dark-gray-color;
    }
  }

  .confirmButton, .cancelButton {
    margin-right: 20px;
    border: 1px solid $primary-color;
    &:hover {
      background-color: $secondary-color;
      color: #fff;
      box-shadow: -2px 3px 2px 0 #b3b1b1;
      border: 0;
    }
  }

  .hide {
    opacity: 0;
    display: none;
  }
}