.sign-in-warning {
  width: 33rem;
  background: #2a1f3f;
  margin: 20% auto 0;
  padding: 2rem 4rem;
  box-sizing: border-box;
  color: white;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    width: auto;
    padding: 2rem 1rem;
    margin: 20% 1rem;
  }

  .message {
    padding-top: 1rem;

    .sign-in {
      background: $secondary-color;
      height: 3rem;
      width: 7rem;
      margin-top: 1rem;
      color: white;
      font-size: 0.9rem;
    }
  }
}
