.sources-nav {
  background-color: $dark-background-color;
  float: none;
  clear: both;

  &__item {
    display: inline-block;
    padding: 16px 20px;
    cursor: pointer;
    color: $primary-color;
    opacity: .5;
    font-weight: 400;
    font-size: 15px;

    i {
      font-size: 22px;
      margin-right: 7px;
      -webkit-transform: translateY(11%);
      -ms-transform: translateY(11%);
      transform: translateY(11%);
    }

    &.active {
      opacity: 1;
    }
  }

  &__next {
    float: right;
    padding: 14px 25px;
    background: $secondary-color;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    height: 100%;
  }
}