.sources-nav {
  background-color: $dark-background-color;
  display: flex;
  height: $secondary-header-nav-height;

  @media (max-width: $mobile-max-width) {
    display: block;
  }


  &__item {
    padding: 16px 20px;
    cursor: pointer;
    color: $primary-color;
    opacity: .5;
    font-weight: 400;
    font-size: 15px;

    @media (max-width: $tablet-max-width) {
      span {
        display: none;
      }
    }

    @media (max-width: $mobile-max-width) {
       padding: 16px 15px;
      font-size: 30px;
    }

    i {
      font-size: 22px;
      margin-right: 7px;
      -webkit-transform: translateY(11%);
      -ms-transform: translateY(11%);
      transform: translateY(11%);
    }

    &.active {
      opacity: 1;
    }
  }

  nav.secondary-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $mobile-max-width) {
      float: right;
    }
  }

  a.btn {
    padding: .9rem 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .btn {
    font-size: 1.3rem;
    text-transform: uppercase;
    display: inline-block;
    align-items: center;
    height: 100%;

    @media (max-width: $mobile-max-width) {
      font-size: 1rem;
    }
  }

  .btn-primary {
    background: $secondary-color;
    color: white;
    height: $secondary-header-nav-height;
  }

  .btn-secondary {
    color: $primary-color;
    opacity: .5;
    height: $secondary-header-nav-height;
  }

  .right-arrow, .check-icon {
    margin-right: 3px;
    margin-top: 3px;
  }
}

