.sources-nav {
  background-color: $dark-background-color;
  display: flex;
  height: $secondary-header-nav-height;


  &__item {
    display: inline-block;
    padding: 16px 20px;
    cursor: pointer;
    color: $primary-color;
    opacity: .5;
    font-weight: 400;
    font-size: 15px;

    i {
      font-size: 22px;
      margin-right: 7px;
      -webkit-transform: translateY(11%);
      -ms-transform: translateY(11%);
      transform: translateY(11%);
    }

    &.active {
      opacity: 1;
    }
  }

  nav.secondary-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  a.btn {
    display: inline-flex;
    padding: 1rem 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .btn {
    font-size: 1.3rem;
    text-transform: uppercase;
    height: 100%;
    display: inline-block;
  }

  .btn-primary {
    background: $secondary-color;
    color: white;
  }

  .btn-secondary {
    color: $primary-color;
    opacity: .5;
    font-size: 1.3rem;
  }

  .right-arrow, .check-icon {
    margin-right: 3px;
    margin-top: 3px;
  }
}

