@import "../utils/variable";

.navigation-header {
    .navigation-title {
      color: $medium-gray-color;
      margin: 0 135px 0 135px;
      font-size: $large-font-size;
      outline: none;
    }

    .custom-category-name {
      color: $app-header-bg-color;
    }

    .delete-category {
      border: none;
      color: $app-header-bg-color;
      padding: 6px 0;
    }

    .title-status {
      font-size: $extra-small-font-size;
      height: 17px;
    }
    .error-msg {
      color: $error-border-color;
    }

}


