@import "../utils/variable";
.nav-control {
  margin-right: 10px;
  color: $app-header-bg-color;
  cursor: pointer;

  span {
    margin-left: 10px;
  }
}

.editable-element {
  .editable-input {
    border: none;
    display: block;
    width: 100%;
  }
}

.custom-spinner {
  margin: auto;
  width: 25px;
  height: 35px;
  text-align: center;
  font-size: 10px;
  .spinner {
    height: inherit;
    position: relative;

    .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
}

.custom-spinner .spinner > div {
  background-color: $app-header-bg-color;
  height: 100%;
  width: 3px;
  margin: 1px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

.custom-toast {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10%;
  width: 80%;
  background: $app-header-bg-color;
  margin: auto;
  padding: 10px;
  color: $primary-font-color;

  button {
    display: block;
  }
}