@import "../utils/variable";
.tab-control {
  position: relative;
  margin: 20px 0px;

  .tab-header {
    padding: 10px;
    background: $app-header-bg-color;
    color: $primary-font-color;

      .tab {
        margin-right: 50px;
        cursor: pointer;

          i {
            margin-right: 5px;
            font-size: $extra-large-font-size;
          }

          span {
            font-size: $small-font-size;
            vertical-align: bottom;
          }
      }
      .tab:last-child {
        margin-right: 0px;
      }
  }

  .tab-content {
    padding: 10px 0px;
  }
}