.header {
  height: 64px;
  width: 100%;
  background-color: $primary-color;

  &__logo {
    width: 177px;
    float: left;

    img {
      width: 145px;
      height: 23px;
      margin-left: 28px;
      margin-top: 20px;
    }
  }
}

.header-tabs {
  height: 64px;
  margin-left: 200px;
}

.header-tabs__left {
  float: left;
  height: 64px;

  &__scannews {
    float: left;
    width: 144px;
    height: 64px;

    &__name {
      float: left;
      margin-top: 20px;
      margin-left: 30px;
      width: 84px;
      height: 24px;
      cursor: pointer;
    }
    &.active{
      background-color: $secondary-color;
    }
  }

  &__writeastory {
    float: left;
    width: 144px;
    height: 64px;

    &__name {
      float: left;
      width: 106px;
      height: 20px;
      margin-top: 18px;
      margin-left: 20px;
      cursor: pointer;
    }

    &.active{
      background-color: $secondary-color;
    }
  }
}
.header-tabs__right {
  float: right;
  height: 64px;
  margin-right: 30px;

  &__configure {
    float: left;
    width: 100px;
    height: 64px;

    &__image {
      float: left;
      margin-top: 20px;
      margin-left: 40px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    &.active{
      background-color: $secondary-color;
    }
  }

  &__userprofile {
    float: left;
    width: 180px;
    height: 64px;
    cursor: pointer;
    color: white;

    img {
      width: 36px;
      height: 36px;
    }

    &__image {
      float: left;
      margin-top: 13px;
      margin-left: 10px;
    }

    &__name, &__downarrow {
      float: left;
      margin-top: 20px;
      margin-left: 10px;
    }

    &.active{
      background-color: $secondary-color;
    }
  }
}

.header-tabs__userprofile {
  position: absolute;
  top: 64px;
  right: 0px;
  width: 210px;
  background: $primary-color;
  height: 134px;

  & li {
      list-style-type: none;
      height: 45px;
      margin-left: 26px;
  }

  &.hide {
    display: none;
  }
}