.header {
  height: 64px;
  width: 100%;
  background-color: $primary-color;

  &__logo {
    width: 177px;
    float: left;

    img {
      width: 145px;
      height: 23px;
      margin-left: 28px;
      margin-top: 20px;
    }
  }
}

.header-tabs {
  height: 64px;
  margin-left: 200px;
}

.header-tabs--left {
  float: left;
  height: 64px;

  &__item {
    float: left;
    width: 144px;
    height: 64px;

    &__name {
      float: left;
      margin-top: 20px;
      margin-left: 30px;
      width: 110px;
      height: 24px;
      cursor: pointer;
    }

    &.active {
      background-color: $secondary-color;
    }
  }
}

.header-tabs-right {
  float: right;
}

.header-tabs--configure {
  float: left;
  height: 64px;
  width: 100px;
  &__image {
    float: left;
    margin-top: 20px;
    margin-left: 40px;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  &.active {
    background-color: $secondary-color;
  }
}

.user-profile {
  float: left;
  width: 180px;
  height: 64px;
  cursor: pointer;
  color: white;
  padding: 0px;

  img {
    width: 36px;
    height: 36px;
  }

  &__image {
    float: left;
    margin-top: 13px;
    margin-left: 10px;
  }

  &__name, .down-arrow {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
  }

  &.active {
    background-color: $secondary-color;
  }
  &.__dropdown {
    position: absolute;
  }

  &.hide {
    display: none;
  }
}

.user-profile--dropdown {
  position: absolute;
  top: 64px;
  right: 0;
  width: 210px;
  background: $primary-color;
  z-index: 1;

  .user-profile--change-password, .user-profile--help, .user-profile--logout {
    vertical-align: top;
    padding: 12px 0;
    padding-left: 26px;

    &:hover {
      background-color: $secondary-color;
    }
  }
}
