@import "../../../utils/variable";

.url-panel {
  margin: 10px 0;

  input.add-url-input.error-border {
    border: 1px solid $error-border-color !important;
  }

  ul li.feed-url {
    position: relative;
    font-size: $small-font-size;
    color: $app-header-bg-color;
    border: 1px solid transparent;
    padding: 5px 5px 5px 16px;

    &:active {
      border: 1px solid $app-header-bg-color;
    }

    .feed {
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
    .valid {
      color: $app-header-bg-color;
    }
    .invalid {
      color: $error-border-color;
    }

    .close {
      position: absolute;
      right: 8px;
      top: 0;
      bottom: 0;
      display: none;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      margin: auto;
    }

  }

  ul li.feed-url:hover {
    border: 1px solid $app-header-bg-color;

    .close {
      display: block;
    }
  }

  .add-url-input {
    width: 100%;
    margin: 3px 0;
    padding-left: 16px;
  }

  .add-url-status {
    font-size: $extra-small-font-size;
    margin-left: 18px;
  }
  .error-message {
    color: $error-border-color;
  }
  .success-message {
    color: $success-color;
  }
  .example-url {
    font-size: $extra-small-font-size;
    font-style: italic;
    color: $example-url-color;
    margin-left: 18px
  }

  .spinner-msg {
    padding: 0 16px;
  }

  ::-webkit-input-placeholder {
    color: #bcbec0;
    font-size: 12px;
    font-style: italic;

  }
  :-moz-placeholder {
    color: #bcbec0;
    font-size: 12px;
    font-style: italic;
  }
  ::-moz-placeholder {
    color: #bcbec0;
    font-size: 12px;
    font-style: italic;
  }

}

