@import "../utils/_variable";

html, body {
  margin: 0px;
  font-family: $font-family;
  font-size: $medium-font-size;
  font-weight: 100;
  background: $app-bg-color;
}
ul {
  margin: 0px;
  padding: 0px;
}

li {
 list-style-type: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-fix:after {
  content: " ";
  display: block;
  float: none;
  clear: both;
}

.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.bottom-box-shadow {
  -webkit-box-shadow: 0px 1px 4px #403E3E;
  -moz-box-shadow: 0px 1px 4px #403E3E;
  -ms-box-shadow: 0px 1px 4px #403E3E;
  box-shadow: 0px 1px 4px #403E3E;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

.border {
  border: 1px solid $input-border-color;
}

.border-blue {
  border: 1px solid $app-header-bg-color;
}

.border-highlight {
  border: 1px solid $input-border-focus;
}

input[type='text'], input[type='password'] {
  color: $body-font-color;
}

input[type='text'], input[type='password'], button {
  outline: none;
  padding: 6px;
  @extend .small-text;
  @extend .border;

  &:focus {
    @extend .border-highlight;
  }

}

button {
  background: none;
  color: $primary-font-color;
  padding: 6px 16px;
  cursor: pointer;

  &:hover {
    @extend .border-highlight;
    color: $secondary-font-color;
  }
}

::-webkit-input-placeholder {
  color: $body-font-color;
}

:-moz-placeholder {
  color: $body-font-color;
}

::-moz-placeholder {
  color: $body-font-color;
}

:-ms-input-placeholder {
  color: $body-font-color;
}

.extra-small-text {
  font-size: $extra-small-font-size;
}

.small-text {
  font-size: $small-font-size;
}

.medium-text {
  font-size: $medium-font-size;
}

.extra-large-text {
  font-size: $extra-large-font-size;
}

.max-text {
  font-size: $max-font-size;
}



.error {
  color: $secondary-font-color;
}

.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}

.fixed-header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.selected {
  color: $secondary-font-color;
}



