$font-family: OpenSansRegular, Helvetica, sans-serif;

$app-header-bg-color: #1E88E5;
$app-bg-color: #ECF2F0;
$counter-bg-color: #424ED6;
$transparent-gray: rgba(0 ,0 ,0, 0.3);

$primary-font-color: #FFFFFF;
$secondary-font-color: #FFEA00;
$body-font-color: rgb(104, 127, 137);
$error-color: #922D2D;
$success-color: #64C335;
$dark-border-color: #A7A7A7;
$light-blue-font: #7A90A7;

/* gray font colors */
$light-gray-color: #CACBCC;
$medium-gray-color: #939598;
$dark-gray-color: #6A6B6E;
$anchor-font-color: #012CFF;
$spinner-font-color: #E9967A;


$extra-small-font-size: 12px;
$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 20px;
$extra-large-font-size: 30px;
$max-font-size: 40px;


$input-border-color: rgb(232, 232, 231);
$input-border-focus: $secondary-font-color;
$error-border-color: #FF4500;

$box-shadow: #CCC;
$example-url-color: #838384;

$max-content-width: 85%;


$mask-layer-index: 2;
$popup-layer-index: 3;