$font-family: 'Lato', sans-serif;

$app-header-bg-color: #36464E;
$app-bg-color: #ECF2F0;
$counter-bg-color: #000000;
$transparent-gray: rgba(0 ,0 ,0, 0.3);

$primary-font-color: #FFFFFF;
$secondary-font-color: #F8BD01;
$body-font-color: rgb(104, 127, 137);
$error-color: #922D2D;
$success-color: #64C335;
$dark-border-color: #A7A7A7;
$darker-border-color: #363131;
$light-blue-font: #7A90A7;

/* gray font colors */
$light-gray-color: #CACBCC;
$medium-gray-color: #939598;
$dark-gray-color: #545454;
$anchor-font-color: #012CFF;
$spinner-font-color: #E9967A;
$filter-label-type: #505050;


$min-font-size: 10px;
$extra-small-font-size: 12px;
$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 20px;
$extra-large-font-size: 30px;
$max-font-size: 40px;


$input-border-color: rgb(232, 232, 231);
$input-border-focus: $secondary-font-color;
$error-border-color: #FF4500;

$box-shadow: #CCC;
$example-url-color: #838384;

$max-content-width: 85%;


$min-index: 1;
$medium-index: 2;
$mask-layer-index: 3;
$popup-layer-index: 4;

/* New Variable */

$background-color: #FAF5F5;
$dark-background-color: #E9E3E7;
$primary-color: #63527A;
$primary-color-light: lighten($primary-color, 18);
$primary-color-dark: #2A1F3F;
$secondary-color: #FF6945;