$font-family:    Helvetica, sans-serif;


$app-bg-color: #1E88E5;


$primary-font-color: #FFFFFF;
$secondary-font-color: #FFEA00;
$body-font-color: rgb(104, 127, 137);


$extra-small-font-size: 12px;
$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 20px;
$extra-large-font-size: 30px;


$input-border-color: rgb(232, 232, 231);
$input-border-focus: $secondary-font-color;

$box-shadow: #CCC;